<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.uidemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadAnimationActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".CircleimageActivity" />
        <activity android:name=".VagueActivity" />
        <activity android:name=".FilletActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".EnlargeActivity" />
        <activity android:name=".AnimaTitleActivity" />
        <activity android:name=".FloatImageActivity" />
        <activity android:name=".view.swipelayout.MyBaseActivity" />
        <activity android:name=".PhotoActivity" />
        <activity android:name=".CustomActivity" />
        <activity android:name=".BaseViewActivity" />
        <activity android:name=".PieViewActivity" />
        <activity android:name=".PathBaseActivity" />
        <activity android:name=".BSRActivity" />
        <activity android:name=".BSR2Activity" />
        <activity android:name=".HeartActivity" />
        <activity android:name=".PelletActivity" />
        <activity android:name=".AnimaActivity" />
        <activity android:name=".FreeFallActivity" />
        <activity android:name=".CustomViewGroupActivity"></activity>
    </application>

</manifest>